{% extends 'layout.html' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Web-scraper | Home Page
    {% endif%}
{% endblock %}
{% block body %}
    <h1>Flipkart Web-scraper Project</h1>

    {% if err_message %}
        <h2> {{ err_message }}</h2>
    {% endif%}


    <form action="/" class="web-form" method="POST">
        <div class="container">
            <input type="text" name="product_name" placeholder='Enter Product name' class="input-field" required>
            <input type="number" name="review_limit" placeholder='Enter Reviews (1-100) to display' class="input-field"
                required>
            <input type="submit" class="btn" value="Search">
        </div>
    </form>

{% endblock %}